/* start variables */
:root {
  --main-color: #19c8fa;
  --transparent-color: rgb(15 116 143 / 70%);
}
/* end variables */
/* start global rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  /* to smoth the scroll in the hole page when we click on a link */
  scroll-behavior: smooth;
}
body {
  font-family: "Open Sans", sans-serif;
}
ul {
  list-style: none;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* end global rules */
/* start componants */
.main-heading {
  color: black;
  text-align: center;
}
.main-heading h2 {
  font-size: 40px;
  font-weight: normal;
  text-transform: uppercase;
  position: relative;
  margin-bottom: 70px;
}
.main-heading h2::before {
  content: "";
  position: absolute;
  width: 120px;
  height: 2px;
  background-color: #333;
  bottom: -30px;
  left: 50%;
  transform: translatex(-50%);
}
.main-heading h2::after {
  content: "";
  position: absolute;
  border: 2px solid #333;
  border-radius: 50%;
  width: 14px;
  height: 14px;
  bottom: -38px;
  left: 50%;
  background-color: white;
  transform: translatex(-50%);
}
.main-heading p {
  color: #777;
  width: 50%;
  margin: 0 auto 100px;
}
/* end componants */
/* start header */
header {
  position: absolute;
  left: 0;
  width: 100%;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  min-height: 97px;
}
header .container::after {
  content: "";
  background-color: #a2a2a2;
  height: 2px;
  width: calc(100% - 30px);
  bottom: 0px;
  position: absolute;
}
header .logo img {
  height: 40px;
}
header nav {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
header nav .toggle-menu {
  font-size: 22px;
  color: white;
}
@media (min-width: 768px) {
  header nav .toggle-menu {
    display: none;
  }
}
header nav .toggle-menu:hover + ul {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: #00000050;
}
header nav .toggle-menu:hover + ul li a {
  padding: 15px;
}
header nav ul {
  display: flex;
}
@media (max-width: 768px) {
  header nav ul {
    display: none;
  }
}
header nav ul li {
  font-size: 14px;
}
header nav ul li a {
  display: block;
  color: white;
  text-decoration: none;
  transition: 0.3s;
  font-size: 14px;
  padding: 40px 10px;
  position: relative;
  z-index: 2;
}

header nav ul li a:hover,
header nav ul li a.active {
  color: var(--main-color);
  border-bottom: var(--main-color) solid 2px;
}
header nav .form {
  width: 40px;
  height: 30px;
  position: relative;
  margin-left: 40px;
  border-left: 1px solid white;
}
header .form i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #a2a2a2;
  margin-left: 20px;
  font-size: 20px;
  right: 0;
}
/* end header */
/* start landing section */
.landing {
  position: relative;
  min-height: 100vh;
  background-image: url(../images/landing.jpg);
  background-size: cover;
  z-index: -2;
}
.overlay {
  position: absolute;
  background-color: rgb(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
}
.landing .text {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: var(--transparent-color);
  z-index: 2;
  padding: 60px;
  width: 50%;
  color: white;
  display: flex;
  justify-content: flex-end;
}

.landing .text .content {
  max-width: 500px;
}
@media ((max-width: 875px)) {
  .landing .text {
    width: 100%;
  }
  .landing .text .content {
    max-width: 100%;
  }
}
.landing .text .content h2 {
  margin-bottom: 20px;
  font-size: 32px;
  font-weight: normal;
  line-height: 1.6;
}
.landing .text .content p {
  line-height: 2;
  font-size: 14px;
}
.landing .change-background {
  color: #ddd;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 3;
}
@media (max-width: 767px) {
  .landing .change-background {
    display: none;
  }
}
.landing .change-background.fa-angle-left {
  left: 30px;
}
.landing .change-background.fa-angle-right {
  right: 30px;
}
.landing .bullets {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 30px;
  display: flex;
}
.landing .bullets li {
  height: 20px;
  width: 20px;
  border: 1px solid white;
  border-radius: 50%;
  margin-left: 5px;
}
.landing .bullets li.active {
  background-color: var(--main-color);
  border-color: var(--main-color);
}
/* end landing section */
/* start services section */
.services {
  padding: 100px 0;
}
.services .services-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
  grid-column-gap: 40px;
  grid-row-gap: 60px;
}

.services .services-content .one-serves {
  display: flex;
}
.services .services-content .one-serves i {
  font-size: 40px;
}
.services .services-content .one-serves .one-serve-text {
  padding-left: 40px;
}
@media (max-width: 780px) {
  .services .services-content {
    display: block;
  }
  .services .services-content .one-serves {
    flex-direction: column;
    text-align: center;
  }
  .services .services-content .one-serves i {
    margin: 0 0 19px;
  }
  .services .services-content .one-serves .one-serve-text {
    padding-bottom: 40px;
    padding-left: 0;
  }
}
.services .services-content .one-serves .one-serve-text h2 {
  font-size: 20px;
  padding-bottom: 40px;
  color: var(--main-color);
}
.services .services-content .one-serves .one-serve-text p {
  color: #777;
  line-height: 2;
  font-size: 15px;
}

/* end services section */
/* start design section */
.design {
  width: 100%;
  height: 100vh;
  background-image: url(../images/design-features.jpg);
  background-size: cover;
  position: relative;
  overflow: hidden;
  display: flex;
}
.design .mobile-image {
  position: absolute;
  z-index: 1;
  bottom: -100px;
  left: 5%;
}

.design .text {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: var(--transparent-color);
  z-index: 2;
  padding: 60px;
  right: 0;
  width: 50%;
  color: white;
}
@media (max-width: 800px) {
  .design .mobile-image {
    display: none;
  }
  .design .text {
    width: 100%;
  }
}
.design .text .element {
  display: flex;
  margin-top: 40px;
}
.design .text .element i {
  margin-right: 25px;
}
/* end design section */
/* start portofolio section */
.portofolio {
  padding: 100px 0;
}
.portofolio .taps {
}
.portofolio .taps ul {
  display: flex;
  justify-content: center;
}
.portofolio .taps ul li {
  padding: 10px;
}
.portofolio .taps ul .active {
  background-color: var(--main-color);
  color: white;
}
.portofolio .gallery {
  padding: 50px 0 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}
.portofolio .gallery .box {
  position: relative;
  overflow: hidden;
}

.portofolio .gallery .box img {
  max-width: 100%;
  transition: 0.3s;
}
.portofolio .gallery .box .text {
  display: none;
  transition: 0.3s;
  background-color: white;
  width: 100%;
  height: 80px;
  padding-left: 20px;
}
.portofolio .gallery .box:hover img {
  /* transform: rotate(3deg) scale(1.1); */
  transform: translateY(-20px);
}
.portofolio .gallery .box:hover img + .text {
  position: absolute;
  display: block;
  bottom: 0;
}
.portofolio .gallery .box .text h2 {
  padding: 13px 0;
  font-weight: 100;
  font-size: 17px;
}
.portofolio .gallery .box .text p {
  color: var(--main-color);
}
.portofolio .more {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 15px;
  background-color: var(--main-color);
  border: none;
  color: white;
}

/* end portofolio section */
/* start video section */
.video {
  width: 100%;
  height: 600px;
  overflow: hidden;
  position: relative;
}
.video::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0, 0.5);
}
.video .text {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  text-align: center;
  background-color: rgb(15 116 143 / 70%);
  color: white;
  padding: 50px;
}
.video .text h2 {
  padding-bottom: 30px;
  font-weight: normal;
}
.video .text p {
  padding-bottom: 30px;
}
.video .text button {
  padding: 10px 20px;
  background-color: black;
  color: white;
  border: none;
}
/* end video section */
/* start about us section */
.about-us {
  margin-top: 100px;
}
.about-us img {
  position: relative;
  max-width: 100%;
  bottom: -120px;
  margin-top: -120px;
}
@media (max-width: 768px) {
  .about-us img {
    bottom: -60px;
    margin-top: -60px;
  }
}
/* end about us section */
/* start stats sectio */
.stats {
  position: relative;
  background-image: url(../images/stats.png);
  background-size: cover;
  padding: 100px 0px;
}
.stats::before {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0, 0.7);
}
.stats .container {
  position: relative;
}
.stats .content {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(15 116 143 / 70%);
  color: white;
  /* justify-content: space-around; */
}
.stats .content .one-stats {
  text-align: center;
  padding: 50px;
}
@media (max-width: 767px) {
  .stats .content .one-stats {
    flex-basis: 100%;
  }
}
@media (min-width: 768px) {
  .stats .content .one-stats {
    flex-basis: 50%;
  }
}
@media (min-width: 992px) {
  .stats .content .one-stats {
    flex-basis: 25%;
  }
}
.stats .content .one-stats i {
  position: relative;
  background-color: black;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 20px;
}
.stats .content .one-stats h1 {
  font-size: 50px;
  margin-bottom: 20px;
}
/* end stats section */
/* start skills section */
.testimonials-skills {
  padding: 0 10px;
}
.testimonials-skills .container {
  display: flex;
  text-align: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.testimonials-skills .container > div {
  padding: 100px 0;
}
.testimonials-skills .container h4 {
  font-weight: normal;
  margin-bottom: 30px;
}
.testimonials-skills .container p {
  color: #777;
}
.testimonials-skills .container .testimonials {
  position: relative;
}
.testimonials-skills .container .testimonials p {
  margin-bottom: 60px;
}
.testimonials-skills .container .testimonials p::after {
  margin-bottom: 60px;
}
@media (min-width: 992px) {
  .testimonials-skills .container .testimonials,
  .testimonials-skills .container .skills {
    flex-basis: 45%;
  }
}
.testimonials-skills .testimonials .one-testimonial {
  display: flex;
}

.testimonials-skills .testimonials .one-testimonial img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.testimonials-skills .testimonials .one-testimonial .content {
  position: relative;
  margin: 0 50px;
  text-align: left;
}
.testimonials-skills .testimonials .one-testimonial .content p {
  /* position: absolute; */
  text-align: right;
}
@media (max-width: 767px) {
  .testimonials-skills .testimonials .one-testimonial {
    flex-direction: column;
    align-items: center;
  }
  .testimonials-skills .testimonials .one-testimonial .content {
    margin: 0 auto;
  }
  .testimonials-skills .testimonials .one-testimonial .content h4 {
    text-align: center;
  }
}
.testimonials-skills .testimonials .one-testimonial .content p::after {
  content: "";
  border: 1px solid #ccc;
  bottom: -15px;
  left: 0;
  width: 100%;
  position: absolute;
}
.testimonials-skills .container .testimonials ul {
  position: absolute;
  display: flex;
  left: 50%;
  transform: translateX(-50%);
}
.testimonials-skills .container .testimonials li {
  width: 12px;
  height: 12px;
  border: 1px solid #777;
  border-radius: 50%;
  margin-left: 5px;
}
.testimonials-skills .container .testimonials .active {
  background-color: #19c8fa;
  border-color: #19c8fa;
}
.testimonials-skills .skills p {
  margin-bottom: 60px;
}
.testimonials-skills .skills .one-skill {
  margin-bottom: 40px;
}
.testimonials-skills .skills .one-skill h4 {
  text-align: left;
  margin-bottom: 15px;
  text-transform: uppercase;
}
.testimonials-skills .skills .one-skill .progress {
  background-color: #dedadc;
  height: 30px;
}
.testimonials-skills .skills .one-skill .progress span {
  display: block;
  background-color: var(--main-color);
  height: 100%;
  position: relative;
}
.testimonials-skills .skills .one-skill .progress span::before {
  content: attr(data-progress);
  position: absolute;
  color: white;
  background-color: black;
  padding: 2px;
  border-radius: 5px;
  right: 0;
  transform: translateX(50%);
  top: -40px;
}
.testimonials-skills .skills .one-skill .progress span::after {
  content: "";
  position: absolute;
  border: 8px solid;
  border-color: black transparent transparent transparent;
  right: 0;
  transform: translateX(50%);
  top: -18px;
}
/* end skills section */
